body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    background-image: url(../slide/backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    font-size: 50px;
    font-family: Castellar;
}

#board {
    width: 750px;
    height: 520px;
    border: 10px solid rgba(146, 107, 49, 0.703);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 185.9px;
    height: 129px;
    border: 1px solid rgba(146, 107, 49, 0.703);
}

body,
#shuffle {
    font-family: 'Cinzel', serif;
    font-size: 14pt;
}

#shuffle {
    color: white;
    background-color: rgba(146, 107, 49, 0.703);
    font-size: 32px;
    border-radius: 50px;
    width: 240px;
    height: 140px;
    line-height: 60px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(190%, -160%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-transform: uppercase;
    border: none;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

.progress-bar-filled {
    width: 100%;
    height: 100%;
    background-color: rgba(146, 107, 49, 0.703);
    animation: progressAnimation 300s linear forwards;
    transform-origin: left;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}